@media only screen and (max-width:480px){
	@import url(https://fonts.googleapis.com/css?family=Roboto:300);
	
	#icono_animacion{
		width:8%;
		display:initial;
		cursor:pointer;
		position:absolute;
		margin-top:5px;
		margin-left:12px;
	}
	
	#icono{
		width:100%;
		border:solid 2px white;
		border-radius:50%;
		
	}
	
	#menu{
		display:initial;
		color:Silver;
		text-align:center;
		margin-left:35px;
	}

	nav{
		position:fixed;
		width:30%;
		height:100%;
		background:DarkCyan;
		border-radius:0 0 0 0;
		margin-top:-8px;
		margin-left:-100%;
		display:initial;
	}

	nav ul{
		display:block;
		border-radius:0 0 0 0;
		margin-left:-39px;
	}

	nav li{
		list-style:none;
		border-radius:0;
		border-radius:0 0 0 0;
		border-bottom:solid 1px Teal;
	}

	nav li a{
		text-decoration:none;
		color:white;
		margin-left:0;
	}

	nav ul li ul li a{
		padding:10px;
		margin-left:-40px;
	}

	nav ul li ul{
		width:55%;
		margin-left:135px;
		margin-top:-30px;
		background:DarkCyan;
		position:absolute;
		border-radius:0 0 0 0;
	}
}
	
	
	
	.login {
	  width: 65%;
	  padding: 8% 0 0;
	  margin: auto;
	}
	.form {
	  position: relative;
	  z-index: 1;
	  background: #FFFFFF;
	  max-width: 255px;
	  margin: 0 auto 100px;
	  padding: 45px;
	  text-align: center;
	  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
	}
	.form input {
	  font-family: "Roboto", sans-serif;
	  outline: 0;
	  background: #f2f2f2;
	  width: 100%;
	  border: 0;
	  margin: 0 0 15px;
	  padding: 15px;
	  box-sizing: border-box;
	  font-size: 14px;
	}
	.form button {
	  font-family: "Roboto", sans-serif;
	  text-transform: uppercase;
	  outline: 0;
	  background: #4CAF50;
	  width: 100%;
	  border: 0;
	  padding: 15px;
	  color: #FFFFFF;
	  font-size: 14px;
	  -webkit-transition: all 0.3 ease;
	  transition: all 0.3 ease;
	  cursor: pointer;
	}
	.form button:hover,.form button:active,.form button:focus {
	  background: #43A047;
	}
	.form .message {
	  margin: 15px 0 0;
	  color: #b3b3b3;
	  font-size: 12px;
	}
	.form .message a {
	  color: #4CAF50;
	  text-decoration: none;
	}
	.form .registro-form {
	  display: none;
	}
	.container {
	  position: relative;
	  z-index: 1;
	  max-width: 300px;
	  margin: 0 auto;
	}
	.container:before, .container:after {
	  content: "";
	  display: block;
	  clear: both;
	}
	.container .info {
	  margin: 50px auto;
	  text-align: center;
	}
	.container .info h1 {
	  margin: 0 0 15px;
	  padding: 0;
	  font-size: 36px;
	  font-weight: 300;
	  color: #1a1a1a;
	}
	.container .info span {
	  color: #4d4d4d;
	  font-size: 12px;
	}
	.container .info span a {
	  color: #000000;
	  text-decoration: none;
	}
	.container .info span .fa {
	  color: #EF3B3A;
	}
	body {
	  background: #E9E9E9;
	  font-family: "Roboto", sans-serif;
	  -webkit-font-smoothing: antialiased;
	  -moz-osx-font-smoothing: grayscale;      
	}
}