	@import url(https://fonts.googleapis.com/css?family=Roboto:300);
	
	#icono_animacion{
		display:none;
	}

	nav{
		width:100%;
		height:40px;
		background:DarkCyan;
		border-radius:18px;
		margin-top: -30px;
		display:none;
	}

	#menu{
		display:none;
	}

	nav ul{
		display:flex;
		border-radius:5px;
	}

	nav li{
		list-style:none;
		border-radius:5px;
	}

	nav li a{
		text-decoration:none;
		color:white;
		margin-top:10px;
		margin-left:130px;
		margin-right: 15px;
		display:block;
	}

	nav ul li ul li a{
		padding:0px;
		margin:0px;
	}

	nav li a:hover{
		color:black;
		background:white;
		opacity:0.8;
		border-radius:5px;
	}


	nav li ul{
		min-width:12%;
		margin-left:130px;
		display:none;
		background:DarkCyan;
		position:absolute;
		float:left;
	}

	nav li:hover ul {
	   display:block;
	}

	
	
	
	.login {
	  width: 25%;
	  padding: 8% 0 0;
	  margin: auto;
	}
	.form {
	  position: relative;
	  z-index: 1;
	  background: #FFFFFF;
	  max-width: 360px;
	  margin: 0 auto 100px;
	  padding: 45px;
	  text-align: center;
	  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
	}
	.form input {
	  font-family: "Roboto", sans-serif;
	  outline: 0;
	  background: #f2f2f2;
	  width: 100%;
	  border: 0;
	  margin: 0 0 15px;
	  padding: 15px;
	  box-sizing: border-box;
	  font-size: 14px;
	}
	.form button {
	  font-family: "Roboto", sans-serif;
	  text-transform: uppercase;
	  outline: 0;
	  background: #4CAF50;
	  width: 100%;
	  border: 0;
	  padding: 15px;
	  color: #FFFFFF;
	  font-size: 14px;
	  -webkit-transition: all 0.3 ease;
	  transition: all 0.3 ease;
	  cursor: pointer;
	}
	.form button:hover,.form button:active,.form button:focus {
	  background: #43A047;
	}
	.form .message {
	  margin: 15px 0 0;
	  color: #b3b3b3;
	  font-size: 12px;
	}
	.form .message a {
	  color: #4CAF50;
	  text-decoration: none;
	}
	.form .registro-form {
	  display: none;
	}
	.container {
	  position: relative;
	  z-index: 1;
	  max-width: 300px;
	  margin: 0 auto;
	}
	.container:before, .container:after {
	  content: "";
	  display: block;
	  clear: both;
	}
	.container .info {
	  margin: 50px auto;
	  text-align: center;
	}
	.container .info h1 {
	  margin: 0 0 15px;
	  padding: 0;
	  font-size: 36px;
	  font-weight: 300;
	  color: #1a1a1a;
	}
	.container .info span {
	  color: #4d4d4d;
	  font-size: 12px;
	}
	.container .info span a {
	  color: #000000;
	  text-decoration: none;
	}
	.container .info span .fa {
	  color: #EF3B3A;
	}
	body {
	  background: #E9E9E9;
	  font-family: "Roboto", sans-serif;
	  -webkit-font-smoothing: antialiased;
	  -moz-osx-font-smoothing: grayscale;      
	}
