/*main.css*/
#tabla{
  width: 90%;
  margin: auto;
}

#formulario1{
  width: 90%;
  margin: auto;
}

body{
  margin:auto;
  width: 100%;
}

#barra{
  float: right;
}

#buscador1{
	width: 25%;
	display: inline-flex;
}

#buscador2{
	width: 25%;
	float: right;
}

button{
	width: 100px;
}

button img{
	width: 30px;
	height: 30px;
}

#tabla-frm{
	width: 97%;
	margin: auto;
}

#tabla button a{
	text-decoration: none;
	color: white;
}

#formulario input{
	width: 100%;
	text-align: center;
	display: block;
	margin-top: 2%;
}

#frmEditar input{
	margin-top: 0%;
}

#frmEditar label{
	margin-top: 2%;
}
